@model List<TravelAgency>
@using Newtonsoft.Json;
<script>
	var url = "TravelAgency/Details/"
</script>
<partial name="MapPartialView" model="Model" />
<script>

    var myModel = @Html.Raw(JsonConvert.SerializeObject(Model));

	let place = creatFeatures(myModel, "placeholder.png", "Travel Agancy")

    map.addLayer(place);
	creatLayerListHandelCheckBox(map);
</script>

	@foreach (TravelAgency agancy in Model)
	{
		
			<div class="card ">
				<img src='~/Images/@agancy.Image' height="560">
				<div class="text-white"><p>@agancy.Name
					
						<div class="rating">
							@for (int i = 0; i < agancy.Rate; i++)
							{
								<span class="fa fa-star checked" style="color:gold"></span>

							}
							@for (int i = agancy.Rate; i < 5; i++)
							{
								<span class="fa fa-star"></span>

							}
						</div>
				<a id ="det" href="@Url.Action("Details", "TravelAgency", new { id = agancy.Id })" class="btn-primary" type="button">Details</a>
				<a id="anc" class="btn-primary" type="button" href="@agancy.Url"><span>Website</span></a>
				</div>
				
			
			</div>
			
	
	}
	



<style>
  



.Pb-3{
	width:100%
}
.card{
	display:inline-block;
	width: 350px;
	border: none;
	border-radius: 12px;
	position: relative;
	
}

img{
		width: 350px;
	border-radius: 12px;
}
div.text-white{
	position: absolute;
	top: 55%;
	left: 10%;
	right: 10%;
	font-size: 28px;

	
}
div.text-muted{
	position: absolute;
	top: 70%;
	left: 10%;
	right: 12%;
	font-size: 14px;
	color: #adb5bd!important;
}

#anc{
position: absolute;
top: 105%;
right:50%;
}
#det{
	position: absolute;
	top: 105%;
	right: 0%;
}
	
</style>
